@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');


.navBar{
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
    align-content: center;
    

}

.logo {
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Nunito Sans';
    color: #718096 ;

}

.logo span {
    color: #008aff!important;
}

.nav-list {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;

}

.nav-item{
    margin-left: 30px;
    text-transform: uppercase;
    font-size:medium;
    font-weight: 400;
    font-family: 'Nunito Sans';
    color: #718096;

}

.nav-item:hover{
    color: #008aff;
    cursor: pointer;
    transition: .3s ease ;
}

